import React, { useContext } from 'react'
import styled from 'styled-components'
import { context } from '@controllers/__PATH__'

const Layout = () => {
  const {} = useContext(context)
  return <Wrapper>Hello World from __PATH__</Wrapper>
}

const Wrapper = styled.div``

export default Layout
