import React from 'react'
import styled from 'styled-components'

interface Props {}

const Layout = ({}: Props) => {
  return <Wrapper>Hello World from __PATH__</Wrapper>
}

const Wrapper = styled.div``

export default Layout
